.active-link{
    color: orange;
  }

/*==================== SKILLS ====================*/

.skills__container {
    row-gap: 0;
    column-gap: 1rem;
    justify-content: center;
}
.work{
    padding-top: 0;
}
.section{
    padding: 0;
    height: 100vh;
    /* overflow: hidden; */
}

.skills__img {
    box-shadow: 0px 4px 25px var(--shadow);
    border-radius: .5rem;
    text-align: center;
    width: 110%;
    /* opacity: var(--opacity); */
    background-color: var(--img-color)
}

.skills__img img {
    transition: 1s;
    text-align: center;
    width: 200px;
    height: 200px;
}

.skills__img img:hover {
    transform: scale(1.1);
}

.skills__img h1{
    font-size: 200px;
    color: black;
}
.work__title{
    color: gray
}
.page__title{
    margin-left: 18rem;
}
@media screen and (min-width: 1024px){
    /* .section{
        overflow: hidden;
    } */

}

@media screen and (max-width: 398px){

    .skills__container {
        margin-top: 5%;
    }
    .nav__lin{
        text-align: center;
        justify-content: center;
    }
    .nav__list{
        grid-template-columns: 1fr;
    }
    .page__title{
        font-size: 20px;
        margin-left: 1.2rem;
    }
}
