body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
h1 {font-size: 56px;}

h5 {font-size: 30px;}

h1, h2, h3, h4, h5, h6, strong{
    
    color: white;
    border: black;
    opacity: 70%;
    font-family: 'system-ui', sans-serif;
    font-weight: 500;
    cursor: default;
}

p, li, span, label, input, textarea{
    color: black;
    font-family: 'Roboto Mono', monospace;
    cursor: default;
    
}


a{
    text-decoration: none;
    list-style: none;
    color: black;
}
a:hover{
    opacity: 50%;
}

ul, li{
    list-style: none;

}

hr{
    height: 1px;
    background-color: black;
    border: none;
    opacity: 30%;
}



.canvas_wrapper{
    z-index: -1;
    position: absolute;
}

.s1{
    overflow: auto;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-container{
    width: 70vmin;
    margin: 0 auto;
    height: 100%;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

.greeting-wrapper{
    display: grid;
    min-height: 10em;
    text-align: top;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'title' 'social-wrapper'
    ;
}

.title-wrapper{
    width: auto;
    bottom: 10px;
}

#title{
    position: relative;
}

.social-wrapper{
    position: relative;
    padding: 10px;
}

#social{
    position: absolute;
    width: auto;
    right: 0.5%;
    bottom: 5%;
}


.intro-wrapper{
    border: 1px solid grey;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    /* -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 25%;
    grid-template-areas: 
        'top-left-wrapper top-right-wrapper'
        'left-column right-column'   
    ;
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'top-left-wrapper'
            'top-right-wrapper'
            'left-column'   
            'right-column'
        ;
    }
    .right-column{
        justify-content: center;
    }

}

.top-left-wrapper{
    grid-area: top-left-wrapper;
    display: grid;
    align-content: center;
}

.top-right-wrapper{
    grid-area: top-right-wrapper;
    display: grid;
    align-content: center;
}

.left-column{
    grid-area: left-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.middle-wrapper{
    /* background-color: rgb(145, 155, 198); */
    /* opacity: 50%; */
    border: 1px solid grey;
    /* border-bottom: none; */
    border-radius: 5px 5px 0 0;
    height: 25%;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}